# my options 
data/
prepare_dataset/data_path_list/
!/data/README.md
experiments/*
!experiments/README.md
!experiments/Example

# tools/ablation
# tools/visualization

.vscode/
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class